<a href="https://colab.research.google.com/github/masnaashraf/Python-and-ML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PANDAS SERIES**

In [ ]:
l=ps.

In [ ]:
#CONVERTING A LIST INTO SERIES
import pandas as pd
l=[1,2,3,4]
ans=pd.Series(l)
print(ans)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
#giving separe index value/label to the pandas data instead of using the default label
ans=pd.Series(l,index=['a','b','c','d'])
print(ans)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
import pandas as pd
d = {'day1': 400, 'day2':300, 'day3': 500}
ans = pd.Series(d)
print(ans)

day1    400
day2    300
day3    500
dtype: int64

In [ ]:
#for printing elements at specified label
import pandas as pd
d = {'day1': 400, 'day2':300, 'day3': 500}
ans = pd.Series(d, index =['day1','day2'])
print(ans)

day1    400
day2    300
dtype: int64

**pandas DataFrame**

In [ ]:
d={'day1'}

In [ ]:
e = {
    'day1':[1,2,3,4,5,6,7,8,9],
    'day2':[3,4,5,6,7,8,9,10,11]
}
ans = pd.DataFrame(e)
print(ans)

   day1  day2
0     1     3
1     2     4
2     3     5
3     4     6
4     5     7
5     6     8
6     7     9
7     8    10
8     9    11

In [ ]:
#to get column names of DataFrame
ans.columns

Index(['day1', 'day2'], dtype='object')

In [ ]:
#to change the column names
ans.columns=["S1","S2"]
ans.head()

   S1  S2
0   1   3
1   2   4
2   3   5
3   4   6
4   5   7

#head()-gives first 5 row=default
#head(3)-gives first 3 row
#head(20)-gives first 10 row
tail( gives last 5 rows and so on

In [ ]:
ans.head(6)

   S1  S2
0   1   3
1   2   4
2   3   5
3   4   6
4   5   7
5   6   8

In [ ]:
ans.head(3)

   S1  S2
0   1   3
1   2   4
2   3   5

In [ ]:
ans.tail()

   S1  S2
4   5   7
5   6   8
6   7   9
7   8  10
8   9  11

In [ ]:
ans.tail(7)

   S1  S2
2   3   5
3   4   6
4   5   7
5   6   8
6   7   9
7   8  10
8   9  11

reading a csv file

In [ ]:
import pandas as pd
iris=pd.read_csv("iris.data")
print(iris)
print(type(iris))

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>

inorder to avoid making changes to original data we are creating a copy of dataframe using copy() method

In [ ]:
df=iris.copy()
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
len(df)

149

In [ ]:
df.shape

(149, 5)

In [ ]:
#finding shapeof data frame
df.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [ ]:
#changing the column name
df.columns=["sl","sw","pl","pw","flower_family"]
df.head(5)

    sl   sw   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
3  5.0  3.6  1.4  0.2   Iris-setosa
4  5.4  3.9  1.7  0.4   Iris-setosa

In [ ]:
#cahneged all vslues of s particular column
df["sl"]="S1"
df.head()

   sl   sw   pl   pw flowe family  s1
0  S1  3.0  1.4  0.2  Iris-setosa  S1
1  S1  3.2  1.3  0.2  Iris-setosa  S1
2  S1  3.1  1.5  0.2  Iris-setosa  S1
3  S1  3.6  1.4  0.2  Iris-setosa  S1
4  S1  3.9  1.7  0.4  Iris-setosa  S1

In [ ]:
#renaming a particular column name
df.rename(columns={"sl":"SL"})
#this will just rename the column name and prints us for this particular view only 
#if we want to renamethe column name permanantly use keyword "inplace=True"

     SL   sw   pl   pw    flowe family  s1
0    S1  3.0  1.4  0.2     Iris-setosa  S1
1    S1  3.2  1.3  0.2     Iris-setosa  S1
2    S1  3.1  1.5  0.2     Iris-setosa  S1
3    S1  3.6  1.4  0.2     Iris-setosa  S1
4    S1  3.9  1.7  0.4     Iris-setosa  S1
..   ..  ...  ...  ...             ...  ..
144  S1  3.0  5.2  2.3  Iris-virginica  S1
145  S1  2.5  5.0  1.9  Iris-virginica  S1
146  S1  3.0  5.2  2.0  Iris-virginica  S1
147  S1  3.4  5.4  2.3  Iris-virginica  S1
148  S1  3.0  5.1  1.8  Iris-virginica  S1

[149 rows x 6 columns]

In [ ]:
print(df.head())
#here renaming is not happend for the origib=nal data

   sl   sw   pl   pw flowe family  s1
0  S1  3.0  1.4  0.2  Iris-setosa  S1
1  S1  3.2  1.3  0.2  Iris-setosa  S1
2  S1  3.1  1.5  0.2  Iris-setosa  S1
3  S1  3.6  1.4  0.2  Iris-setosa  S1
4  S1  3.9  1.7  0.4  Iris-setosa  S1

In [ ]:
df.rename(columns={"sl":"SL"},inplace=True)
print(df.head())

    SL   sw   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
3  5.0  3.6  1.4  0.2   Iris-setosa
4  5.4  3.9  1.7  0.4   Iris-setosa

In [ ]:
#when we need to rename multiple column name suing a single line
df.rename(columns={'sw':"SW","flowe family":"FF"},inplace=True)
print(df.head())

    SL   SW   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
3  5.0  3.6  1.4  0.2   Iris-setosa
4  5.4  3.9  1.7  0.4   Iris-setosa

In [ ]:
df.head()

   SL   SW   pl   pw           FF  s1
0  S1  3.0  1.4  0.2  Iris-setosa  S1
1  S1  3.2  1.3  0.2  Iris-setosa  S1
2  S1  3.1  1.5  0.2  Iris-setosa  S1
3  S1  3.6  1.4  0.2  Iris-setosa  S1
4  S1  3.9  1.7  0.4  Iris-setosa  S1

In [ ]:
#descibe() gives info regarding statistics of the data
df.describe()

               SW          pl          pw
count  149.000000  149.000000  149.000000
mean     3.051007    3.774497    1.205369
std      0.433499    1.759651    0.761292
min      2.000000    1.000000    0.100000
25%      2.800000    1.600000    0.300000
50%      3.000000    4.400000    1.300000
75%      3.300000    5.100000    1.800000
max      4.400000    6.900000    2.500000

In [ ]:
#prints a single column
df['SL']

0      S1
1      S1
2      S1
3      S1
4      S1
       ..
144    S1
145    S1
146    S1
147    S1
148    S1
Name: SL, Length: 149, dtype: object

In [ ]:
#to view colums more than one
df[['SL','pw']]

     SL   pw
0    S1  0.2
1    S1  0.2
2    S1  0.2
3    S1  0.2
4    S1  0.4
..   ..  ...
144  S1  2.3
145  S1  1.9
146  S1  2.0
147  S1  2.3
148  S1  1.8

[149 rows x 2 columns]

In [ ]:
df.head()

   SL   SW   pl   pw           FF  s1
0  S1  3.0  1.4  0.2  Iris-setosa  S1
1  S1  3.2  1.3  0.2  Iris-setosa  S1
2  S1  3.1  1.5  0.2  Iris-setosa  S1
3  S1  3.6  1.4  0.2  Iris-setosa  S1
4  S1  3.9  1.7  0.4  Iris-setosa  S1

In [ ]:
df.rename(columns={"FF":"FlowerType"},inplace=True)
df.head()
df.columns

Index(['SL', 'SW', 'pl', 'pw', 'flower_family'], dtype='object')

In [ ]:
#to view colums more than one
df[['SL',"pw",'SW',' FF']]

     SL   pw   SW              FF
0    S1  0.2  3.0     Iris-setosa
1    S1  0.2  3.2     Iris-setosa
2    S1  0.2  3.1     Iris-setosa
3    S1  0.2  3.6     Iris-setosa
4    S1  0.4  3.9     Iris-setosa
..   ..  ...  ...             ...
144  S1  2.3  3.0  Iris-virginica
145  S1  1.9  2.5  Iris-virginica
146  S1  2.0  3.0  Iris-virginica
147  S1  2.3  3.4  Iris-virginica
148  S1  1.8  3.0  Iris-virginica

[149 rows x 4 columns]

In [ ]:
#to check whether a value is null
df.isnull()

        SL     SW     pl     pw     FF     s1
0    False  False  False  False  False  False
1    False  False  False  False  False  False
2    False  False  False  False  False  False
3    False  False  False  False  False  False
4    False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...
144  False  False  False  False  False  False
145  False  False  False  False  False  False
146  False  False  False  False  False  False
147  False  False  False  False  False  False
148  False  False  False  False  False  False

[149 rows x 6 columns]

In [ ]:
#to see how many values in a particulat colum is null
df.isnull().sum()

SL     0
SW     0
pl     0
pw     0
 FF    0
s1     0
dtype: int64

In [ ]:
#to find count of values in each column
df.count()

SL     149
SW     149
pl     149
pw     149
 FF    149
s1     149
dtype: int64

In [ ]:
#to find max valof a particular column
df.SW.max()

4.4

In [ ]:
df.SW.mean()

3.051006711409397

In [ ]:
df.SW.count()

149

In [ ]:
#gives count of each unique value ina column
df.SW.value_counts()

3.0    26
2.8    14
3.2    13
3.1    12
3.4    12
2.9    10
2.7     9
2.5     8
3.3     6
3.8     6
3.5     5
2.6     5
2.3     4
3.7     3
2.4     3
2.2     3
3.6     3
3.9     2
4.4     1
4.0     1
4.1     1
4.2     1
2.0     1
Name: SW, dtype: int64

In [ ]:
df.head()

   SL   SW   pl   pw           FF  s1
0  S1  3.0  1.4  0.2  Iris-setosa  S1
1  S1  3.2  1.3  0.2  Iris-setosa  S1
2  S1  3.1  1.5  0.2  Iris-setosa  S1
3  S1  3.6  1.4  0.2  Iris-setosa  S1
4  S1  3.9  1.7  0.4  Iris-setosa  S1

In [ ]:
df.columns

Index(['SL', 'SW', 'pl', 'pw', ' FF', 's1'], dtype='object')

In [ ]:
df.FlowerType.value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        49
Name: FlowerType, dtype: int64

In [ ]:
#to get the count of number of elemntd in column

df.FlowerType.value_counts().count()

3

In [ ]:
df.SW.value_counts().count()

23

iloc vs loc
iloc function is generally used to **locate a row based** on numerical indices even if the label to that is different. Whereas, loc function selects data based on the label of the data in the data frame

The **iloc ** property gets, or sets, the value(s) of the specified indexes.

In [ ]:
df.head()

    SL   SW   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
3  5.0  3.6  1.4  0.2   Iris-setosa
4  5.4  3.9  1.7  0.4   Iris-setosa

In [ ]:
df.iloc[0:4] #prints row from 0 to 3 (based on index)

    SL   SW   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
3  5.0  3.6  1.4  0.2   Iris-setosa

In [ ]:
df.loc[0:4] #(prints based on label)

    SL   SW   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
3  5.0  3.6  1.4  0.2   Iris-setosa
4  5.4  3.9  1.7  0.4   Iris-setosa

In [ ]:
df.iloc[0:4][0:2]

    SL   SW   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa

In [ ]:
df.loc[0:4][0:2]

    SL   SW   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa

In [ ]:
df.iloc[1:2]

    SL   SW   pl   pw flower_family
1  4.7  3.2  1.3  0.2   Iris-setosa

In [ ]:
df.loc[1:2]

    SL   SW   pl   pw flower_family
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa

In [ ]:
#to get values based on roa in data frame
df.iloc[0:4][1:2]

    SL   SW   pl   pw flower_family
1  4.7  3.2  1.3  0.2   Iris-setosa

In [ ]:
df.iloc[0:4,1:2]

    SW
0  3.0
1  3.2
2  3.1
3  3.6

In [ ]:
df.iloc[0:4,:]

    SL   SW   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
3  5.0  3.6  1.4  0.2   Iris-setosa

**manipulating data**

In [ ]:
df.drop(0) #droped at label 0

      SL   SW   pl   pw   flower_family
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[148 rows x 5 columns]

In [ ]:
df.head() #previous droping doesnt happened in the df since the inplace method is not used

    SL   SW   pl   pw flower_family
0  4.9  3.0  1.4  0.2   Iris-setosa
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
3  5.0  3.6  1.4  0.2   Iris-setosa
4  5.4  3.9  1.7  0.4   Iris-setosa

In [ ]:
df.drop(0,inplace=True)
df.head()

    SL   SW   pl   pw flower_family
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
3  5.0  3.6  1.4  0.2   Iris-setosa
4  5.4  3.9  1.7  0.4   Iris-setosa
5  4.6  3.4  1.4  0.3   Iris-setosa

In [ ]:
df.drop(4,inplace=True)
df.head()

    SL   SW   pl   pw flower_family
1  4.7  3.2  1.3  0.2   Iris-setosa
2  4.6  3.1  1.5  0.2   Iris-setosa
5  4.6  3.4  1.4  0.3   Iris-setosa
6  5.0  3.4  1.5  0.2   Iris-setosa
7  4.4  2.9  1.4  0.2   Iris-setosa

when we are droping this way using label the problem is with the index number in label become non consequent so we need to reset the inde using reset_index method

In [ ]:
df.reset_index(drop=True,inplace=True)
df.head()   #here the label is adjusted as the consecutive number starting from 0

    SL   SW   pl   pw flower_family
0  4.7  3.2  1.3  0.2   Iris-setosa
1  4.6  3.1  1.5  0.2   Iris-setosa
2  4.6  3.4  1.4  0.3   Iris-setosa
3  5.0  3.4  1.5  0.2   Iris-setosa
4  4.4  2.9  1.4  0.2   Iris-setosa

In [ ]:
df.head().count()

SL               5
SW               5
pl               5
pw               5
flower_family    5
dtype: int64

In [ ]:
df.count()

SL               146
SW               146
pl               146
pw               146
flower_family    146
dtype: int64

In [ ]:
df.index

RangeIndex(start=0, stop=146, step=1)

In [ ]:
df.drop(df.index[0],inplace=True)
df.head()

    SL   SW   pl   pw flower_family
1  4.6  3.1  1.5  0.2   Iris-setosa
2  4.6  3.4  1.4  0.3   Iris-setosa
3  5.0  3.4  1.5  0.2   Iris-setosa
4  4.4  2.9  1.4  0.2   Iris-setosa
5  4.9  3.1  1.5  0.1   Iris-setosa

In [ ]:
#to drop elemnts at multiple index
df.drop(df.index[[3,5]],inplace=True)
df.head()

    SL   SW   pl   pw flower_family
1  4.6  3.1  1.5  0.2   Iris-setosa
2  4.6  3.4  1.4  0.3   Iris-setosa
3  5.0  3.4  1.5  0.2   Iris-setosa
5  4.9  3.1  1.5  0.1   Iris-setosa
7  4.8  3.4  1.6  0.2   Iris-setosa

In [ ]:
df.reset_index(drop=True,inplace= True)
df.head()

    SL   SW   pl   pw flower_family
0  4.6  3.1  1.5  0.2   Iris-setosa
1  4.6  3.4  1.4  0.3   Iris-setosa
2  5.0  3.4  1.5  0.2   Iris-setosa
3  4.9  3.1  1.5  0.1   Iris-setosa
4  4.8  3.4  1.6  0.2   Iris-setosa

In [ ]:
#similar to boolean indexing
df.SL>6

0      False
1      False
2      False
3      False
4      False
       ...
138     True
139     True
140     True
141     True
142    False
Name: SL, Length: 143, dtype: bool

In [ ]:
df[df.SL>6] #PRINTING df where value of SL greater than 6

      SL   SW   pl   pw    flower_family
43   7.0  3.2  4.7  1.4  Iris-versicolor
44   6.4  3.2  4.5  1.5  Iris-versicolor
45   6.9  3.1  4.9  1.5  Iris-versicolor
47   6.5  2.8  4.6  1.5  Iris-versicolor
49   6.3  3.3  4.7  1.6  Iris-versicolor
..   ...  ...  ...  ...              ...
137  6.7  3.3  5.7  2.5   Iris-virginica
138  6.7  3.0  5.2  2.3   Iris-virginica
139  6.3  2.5  5.0  1.9   Iris-virginica
140  6.5  3.0  5.2  2.0   Iris-virginica
141  6.2  3.4  5.4  2.3   Iris-virginica

[61 rows x 5 columns]

In [ ]:
df[df.flower_family=="Iris-virginica"]

      SL   SW   pl   pw   flower_family
93   6.3  3.3  6.0  2.5  Iris-virginica
94   5.8  2.7  5.1  1.9  Iris-virginica
95   7.1  3.0  5.9  2.1  Iris-virginica
96   6.3  2.9  5.6  1.8  Iris-virginica
97   6.5  3.0  5.8  2.2  Iris-virginica
98   7.6  3.0  6.6  2.1  Iris-virginica
99   4.9  2.5  4.5  1.7  Iris-virginica
100  7.3  2.9  6.3  1.8  Iris-virginica
101  6.7  2.5  5.8  1.8  Iris-virginica
102  7.2  3.6  6.1  2.5  Iris-virginica
103  6.5  3.2  5.1  2.0  Iris-virginica
104  6.4  2.7  5.3  1.9  Iris-virginica
105  6.8  3.0  5.5  2.1  Iris-virginica
106  5.7  2.5  5.0  2.0  Iris-virginica
107  5.8  2.8  5.1  2.4  Iris-virginica
108  6.4  3.2  5.3  2.3  Iris-virginica
109  6.5  3.0  5.5  1.8  Iris-virginica
110  7.7  3.8  6.7  2.2  Iris-virginica
111  7.7  2.6  6.9  2.3  Iris-virginica
112  6.0  2.2  5.0  1.5  Iris-virginica
113  6.9  3.2  5.7  2.3  Iris-virginica
114  5.6  2.8  4.9  2.0  Iris-virginica
115  7.7  2.8  6.7  2.0  Iris-virginica
116  6.3  2.7  4.9  1.8  Iris-virginica
117  6.7  3.3  5.7  2.1  Iris-virginica
118  7.2  3.2  6.0  1.8  Iris-virginica
119  6.2  2.8  4.8  1.8  Iris-virginica
120  6.1  3.0  4.9  1.8  Iris-virginica
121  6.4  2.8  5.6  2.1  Iris-virginica
122  7.2  3.0  5.8  1.6  Iris-virginica
123  7.4  2.8  6.1  1.9  Iris-virginica
124  7.9  3.8  6.4  2.0  Iris-virginica
125  6.4  2.8  5.6  2.2  Iris-virginica
126  6.3  2.8  5.1  1.5  Iris-virginica
127  6.1  2.6  5.6  1.4  Iris-virginica
128  7.7  3.0  6.1  2.3  Iris-virginica
129  6.3  3.4  5.6  2.4  Iris-virginica
130  6.4  3.1  5.5  1.8  Iris-virginica
131  6.0  3.0  4.8  1.8  Iris-virginica
132  6.9  3.1  5.4  2.1  Iris-virginica
133  6.7  3.1  5.6  2.4  Iris-virginica
134  6.9  3.1  5.1  2.3  Iris-virginica
135  5.8  2.7  5.1  1.9  Iris-virginica
136  6.8  3.2  5.9  2.3  Iris-virginica
137  6.7  3.3  5.7  2.5  Iris-virginica
138  6.7  3.0  5.2  2.3  Iris-virginica
139  6.3  2.5  5.0  1.9  Iris-virginica
140  6.5  3.0  5.2  2.0  Iris-virginica
141  6.2  3.4  5.4  2.3  Iris-virginica
142  5.9  3.0  5.1  1.8  Iris-virginica

In [ ]:
df.flower_family.count()

143

In [ ]:
df.flower_family.unique() #to find the unique value of a particular column

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
df.flower_family.nunique() #to find the number of unique value from a column

3

to add a new column to dataframe using label

In [ ]:
df.head()

    SL   SW   pl   pw flower_family
0  4.6  3.1  1.5  0.2   Iris-setosa
1  4.6  3.4  1.4  0.3   Iris-setosa
2  5.0  3.4  1.5  0.2   Iris-setosa
3  4.9  3.1  1.5  0.1   Iris-setosa
4  4.8  3.4  1.6  0.2   Iris-setosa

In [ ]:
df.loc[0]=[1,2,3,4,"abc"] #replaces value in the label one with new value
df.head()

    SL   SW   pl   pw flower_family
0  1.0  2.0  3.0  4.0           abc
1  4.6  3.4  1.4  0.3   Iris-setosa
2  5.0  3.4  1.5  0.2   Iris-setosa
3  4.9  3.1  1.5  0.1   Iris-setosa
4  4.8  3.4  1.6  0.2   Iris-setosa

In [ ]:
df.loc[0]=[4,5,6,7,"bcd"] #replaces value in the label one with new value
df.head()

    SL   SW   pl   pw flower_family
0  4.0  5.0  6.0  7.0           bcd
1  4.6  3.4  1.4  0.3   Iris-setosa
2  5.0  3.4  1.5  0.2   Iris-setosa
3  4.9  3.1  1.5  0.1   Iris-setosa
4  4.8  3.4  1.6  0.2   Iris-setosa

In [ ]:
df.tail

<bound method NDFrame.tail of       SL   SW   pl   pw   flower_family
0    4.0  5.0  6.0  7.0             bcd
1    4.6  3.4  1.4  0.3     Iris-setosa
2    5.0  3.4  1.5  0.2     Iris-setosa
3    4.9  3.1  1.5  0.1     Iris-setosa
4    4.8  3.4  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
138  6.7  3.0  5.2  2.3  Iris-virginica
139  6.3  2.5  5.0  1.9  Iris-virginica
140  6.5  3.0  5.2  2.0  Iris-virginica
141  6.2  3.4  5.4  2.3  Iris-virginica
142  5.9  3.0  5.1  1.8  Iris-virginica

[143 rows x 5 columns]>

In [ ]:
df.drop(0,inplace=True)

In [ ]:
df.head()

    SL   SW   pl   pw flower_family
1  4.6  3.4  1.4  0.3   Iris-setosa
2  5.0  3.4  1.5  0.2   Iris-setosa
3  4.9  3.1  1.5  0.1   Iris-setosa
4  4.8  3.4  1.6  0.2   Iris-setosa
5  4.8  3.0  1.4  0.1   Iris-setosa

In [ ]:
df.loc[0]=[4,5,6,7,"bcd"] #here label 0 is not present and if we try to add the lement the elment or row will be added to the end
df.head()

    SL   SW   pl   pw flower_family
1  4.6  3.4  1.4  0.3   Iris-setosa
2  5.0  3.4  1.5  0.2   Iris-setosa
3  4.9  3.1  1.5  0.1   Iris-setosa
4  4.8  3.4  1.6  0.2   Iris-setosa
5  4.8  3.0  1.4  0.1   Iris-setosa

In [ ]:
df.tail()

      SL   SW   pl   pw   flower_family
139  6.3  2.5  5.0  1.9  Iris-virginica
140  6.5  3.0  5.2  2.0  Iris-virginica
141  6.2  3.4  5.4  2.3  Iris-virginica
142  5.9  3.0  5.1  1.8  Iris-virginica
0    4.0  5.0  6.0  7.0             bcd

In [ ]:
df.iloc[0]=[4,5,6,7,"bcd"] #here since using iloc the row will be added according to the index number not according to label
df.head()

    SL   SW   pl   pw flower_family
1  4.0  5.0  6.0  7.0           bcd
2  5.0  3.4  1.5  0.2   Iris-setosa
3  4.9  3.1  1.5  0.1   Iris-setosa
4  4.8  3.4  1.6  0.2   Iris-setosa
5  4.8  3.0  1.4  0.1   Iris-setosa

In [ ]:
df.tail()

      SL   SW   pl   pw   flower_family
139  6.3  2.5  5.0  1.9  Iris-virginica
140  6.5  3.0  5.2  2.0  Iris-virginica
141  6.2  3.4  5.4  2.3  Iris-virginica
142  5.9  3.0  5.1  1.8  Iris-virginica
0    4.0  5.0  6.0  7.0             bcd

In [ ]:
df.drop("SL",axis=1,inplace=True) #when deleting column we need to give axis=1

In [ ]:
df.head()

    SW   pl   pw flower_family
1  5.0  6.0  7.0           bcd
2  3.4  1.5  0.2   Iris-setosa
3  3.1  1.5  0.1   Iris-setosa
4  3.4  1.6  0.2   Iris-setosa
5  3.0  1.4  0.1   Iris-setosa

In [ ]:
#mathematical operation
#to subtract a value of column from another and store in new column
df["diif_pl_pw"]=df["pl"]-df['pw']
df.head()

    SW   pl   pw flower_family  diif_pl_pw
1  5.0  6.0  7.0           bcd        -1.0
2  3.4  1.5  0.2   Iris-setosa         1.3
3  3.1  1.5  0.1   Iris-setosa         1.4
4  3.4  1.6  0.2   Iris-setosa         1.4
5  3.0  1.4  0.1   Iris-setosa         1.3

In [ ]:
#another way to delete a column is to use del function
del df["diif_pl_pw"]
df.head()

    SW   pl   pw flower_family
1  5.0  6.0  7.0           bcd
2  3.4  1.5  0.2   Iris-setosa
3  3.1  1.5  0.1   Iris-setosa
4  3.4  1.6  0.2   Iris-setosa
5  3.0  1.4  0.1   Iris-setosa

**working with missing data**

#handling nan
#dropna
#fillna

In [ ]:
#change column value to nan
import numpy as np
df.iloc[2:4,1:3]=np.nan
df.head()

    SW   pl   pw flower_family
1  5.0  6.0  7.0           bcd
2  3.4  1.5  0.2   Iris-setosa
3  3.1  NaN  NaN   Iris-setosa
4  3.4  NaN  NaN   Iris-setosa
5  3.0  1.4  0.1   Iris-setosa

In [ ]:
#dropping columns with NaN values

In [ ]:
df.dropna(inplace=True)
df.head()

    SW   pl   pw flower_family
1  5.0  6.0  7.0           bcd
2  3.4  1.5  0.2   Iris-setosa
5  3.0  1.4  0.1   Iris-setosa
6  3.0  1.1  0.1   Iris-setosa
7  4.0  1.2  0.2   Iris-setosa

In [ ]:
df.reset_index(drop=True,inplace=True)
df.head()

    SW   pl   pw flower_family
0  5.0  6.0  7.0           bcd
1  3.4  1.5  0.2   Iris-setosa
2  3.0  1.4  0.1   Iris-setosa
3  3.0  1.1  0.1   Iris-setosa
4  4.0  1.2  0.2   Iris-setosa

In [ ]:
df.dropna(inplace=True)
df.describe()  #describe function gives statistics of the data

               SW          pl          pw
count  141.000000  141.000000  141.000000
mean     3.058865    3.969504    1.357447
std      0.490345    1.710428    0.999660
min      2.000000    1.000000    0.100000
25%      2.800000    1.700000    0.400000
50%      3.000000    4.500000    1.400000
75%      3.300000    5.200000    1.900000
max      5.000000    6.900000    7.000000

In [ ]:
df.head()

    SW   pl   pw flower_family
0  5.0  6.0  7.0           bcd
1  3.4  1.5  0.2   Iris-setosa
2  3.0  1.4  0.1   Iris-setosa
3  3.0  1.1  0.1   Iris-setosa
4  4.0  1.2  0.2   Iris-setosa

In [ ]:
df.iloc[1:3,1:2]=np.nan
df.head()

    SW   pl   pw flower_family
0  5.0  6.0  7.0           bcd
1  3.4  NaN  0.2   Iris-setosa
2  3.0  NaN  0.1   Iris-setosa
3  3.0  1.1  0.1   Iris-setosa
4  4.0  1.2  0.2   Iris-setosa

In [ ]:
df.pl.fillna(df.pl.mean(),inplace=True)
df.head()

    SW        pl   pw flower_family
0  5.0  6.000000  7.0           bcd
1  3.4  4.005755  0.2   Iris-setosa
2  3.0  4.005755  0.1   Iris-setosa
3  3.0  1.100000  0.1   Iris-setosa
4  4.0  1.200000  0.2   Iris-setosa

In [ ]:
df["sex"]="male" #creating a new column named sex
df.head()

    SW        pl   pw flower_family   sex
0  5.0  6.000000  7.0           bcd  male
1  3.4  4.005755  0.2   Iris-setosa  male
2  3.0  4.005755  0.1   Iris-setosa  male
3  3.0  1.100000  0.1   Iris-setosa  male
4  4.0  1.200000  0.2   Iris-setosa  male

In [ ]:
df.iloc[1:3,4]="Female" #changing the value at specific location using iloc
df.head()

    SW        pl   pw flower_family     sex
0  5.0  6.000000  7.0           bcd    male
1  3.4  4.005755  0.2   Iris-setosa  Female
2  3.0  4.005755  0.1   Iris-setosa  Female
3  3.0  1.100000  0.1   Iris-setosa    male
4  4.0  1.200000  0.2   Iris-setosa    male

In [ ]:
#function to define/add a new column Gender based on existing column sex
def f(s):
  if s == "male":
    return 0
  else:
    return 1
df["Gender"]=df.sex.apply(f)

In [ ]:
df.columns

Index(['SW', 'pl', 'pw', 'flower_family', 'sex'], dtype='object')

In [ ]:
df.head()

    SW        pl   pw flower_family     sex  Gender
0  5.0  6.000000  7.0           bcd    male       0
1  3.4  4.005755  0.2   Iris-setosa  Female       1
2  3.0  4.005755  0.1   Iris-setosa  Female       1
3  3.0  1.100000  0.1   Iris-setosa    male       0
4  4.0  1.200000  0.2   Iris-setosa    male       0

In [ ]:
df.sex.unique()

array(['male', 'Female'], dtype=object)

In [ ]:
del df['sex'] #delting this because for computation it is always best to keep value in terms on numbers
df.head()

    SW        pl   pw flower_family  Gender
0  5.0  6.000000  7.0           bcd       0
1  3.4  4.005755  0.2   Iris-setosa       1
2  3.0  4.005755  0.1   Iris-setosa       1
3  3.0  1.100000  0.1   Iris-setosa       0
4  4.0  1.200000  0.2   Iris-setosa       0

Problem Statement :
The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
Print count of number of attacks in that city as integer value.
Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.
Output Format :
City NumberOfAttack Group

In [ ]:
import csv
with open('terrorismData.csv','r') as file_obj:
    file_data = csv.reader(file_obj, skipinitialspace= False)
    
    #for printing the header value of the text
    
    L=next(file_data)
    print(L)

['Year', 'Month', 'Day', 'Country', 'State', 'Region', 'City', 'Latitude', 'Longitude', 'AttackType', 'Killed', 'Wounded', 'Target', 'Summary', 'Group', 'Target_type', 'Weapon_type']

In [ ]:
import numpy as np
import csv
file_data=open('terrorismData.csv',encoding='utf8')
data=csv.DictReader(file_data,skipinitialspace=True)

dangeourus_city=[]
country=[]
attack=[]

for i in data:
  if i["State"]=='Jammu and Kashmir'

In [ ]:
import pandas as pd
df_terr=pd.read_csv("terrorismData.csv")
data_terr=df_terr[df_terr['State']=="Jammu and Kashmir"]

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
21744,1984,4,17,India,Jammu and Kashmir,South Asia,Bhela,33.315527,74.622476,Assassination,2.0,0.0,Gurbachan Singh Sandhar (Sikh lawyer) and wife,NaN,Sikh Extremists,Private Citizens & Property,Unknown
22108,1984,5,20,India,Jammu and Kashmir,South Asia,Jammu,32.726602,74.857026,Bombing/Explosion,1.0,0.0,bridge over a stream,NaN,Unknown,Transportation,Explosives
29677,1986,12,11,India,Jammu and Kashmir,South Asia,Madora,33.934929,75.154160,Bombing/Explosion,1.0,5.0,general post office complex,NaN,Unknown,Government (General),Unknown
33202,1988,1,21,India,Jammu and Kashmir,South Asia,Mand,32.888165,74.985168,Armed Assault,2.0,0.0,police unit,NaN,Unknown,Police,Firearms
33372,1988,2,7,India,Jammu and Kashmir,South Asia,Kherawali,32.523889,74.974444,Armed Assault,4.0,5.0,marriage reception,NaN,Sikh Extremists,Private Citizens & Property,Firearms
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181222,2017,12,11,India,Jammu and Kashmir,South Asia,Kralcheck Keller,33.732981,74.855559,Armed Assault,2.0,1.0,Van,12/11/2017: Assailants opened fire on a Jammu ...,Jaish-e-Mohammad (JeM),Business,Firearms
181396,2017,12,18,India,Jammu and Kashmir,South Asia,Baramulla district,34.191218,74.350010,Bombing/Explosion,0.0,0.0,Police Station,12/18/2017: Assailants threw a grenade at a po...,Unknown,Police,Explosives
181414,2017,12,19,India,Jammu and Kashmir,South Asia,Pulwama district,33.873538,74.899019,Bombing/Explosion,0.0,0.0,Police Line,12/19/2017: Assailants fired a rifle grenade a...,Unknown,Police,Explosives
181476,2017,12,22,India,Jammu and Kashmir,South Asia,Srinagar,34.083740,74.789902,Armed Assault,0.0,0.0,Post,12/22/2017: Assailants threw two petrol bombs ...,Unknown,Police,Incendiary
181672,2017,12,31,India,Jammu and Kashmir,South Asia,Lethapora,33.966527,74.964225,Armed Assault,8.0,3.0,Camp,12/31/2017: Assailants armed with grenades and...,Jaish-e-Mohammad (JeM),Police,Explosives

In [ ]:
import pandas as pd
df_terr=pd.read_csv("terrorismData.csv")
data_terr=df_terr[df_terr['State']=="Jammu and Kashmir"]

city_list=data_terr['City'].value_counts()
print(city_list)
print()

Srinagar     657
Sopore       102
Unknown       86
Anantnag      76
Jammu         57
            ...
Bragam         1
Narsu          1
Lasjan         1
Goriwan        1
Lethapora      1
Name: City, Length: 633, dtype: int64

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv',encoding='ISO-8859-1')
df_terrorism=df_terrorism[df_terrorism['State']== 'Jammu and Kashmir']
city_list=df_terrorism['City'].value_counts()
city=city_list.index[0]
attack=city_list.values[0]
df_terrorism=df_terrorism[df_terrorism['City'] == city]
group=df_terrorism['Group'].value_counts().index[1]
print(city,attack,group)

Srinagar 657 Muslim Separatists

There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-
1. Total number of attacks done in this period in India. Find this count as integer.
2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks. 
3.Ignore the Unknown group.

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv')
df_terrorism=df_terrorism[df_terrorism["Country"]=="India"]

#df_terrorism=df_terrorism[df_terrorism['Year'==2014] & df_terrorism['Month'==5] & df_terrorism['Day'>=26]]
df_terrorism

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
1186,1972,2,22,India,Delhi,South Asia,New Delhi,28.585836,77.153336,Hijacking,0.0,0.0,B-747,NaN,Palestinians,Airports & Aircraft,Explosives
2764,1975,1,2,India,Bihar,South Asia,Samastipur,25.863042,85.781004,Bombing/Explosion,4.0,0.0,Lalit Narayan Mishra and a legislator,"1/2/1975: The Indian Railway Minister, Lalit N...",Ananda Marga,Government (General),Explosives
3857,1976,5,26,India,Delhi,South Asia,New Delhi,28.585836,77.153336,Bombing/Explosion,0.0,0.0,New Delhi airport,NaN,Unknown,Airports & Aircraft,Explosives
5327,1977,9,28,India,Maharashtra,South Asia,Bombay,19.075984,72.877656,Hijacking,0.0,0.0,DC-8,NaN,Japanese Red Army (JRA),Airports & Aircraft,Firearms
7337,1979,1,13,India,Assam,South Asia,Unknown,26.200605,92.937574,Armed Assault,NaN,NaN,patrol,NaN,Naga People,Police,Firearms
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181663,2017,12,30,India,Kerala,South Asia,Koothuparamba,11.831902,75.565432,Bombing/Explosion,0.0,0.0,Koothuparamba Police Station,12/30/2017: Assailants threw an explosive devi...,Unknown,Police,Explosives
181665,2017,12,30,India,Chhattisgarh,South Asia,Toylanka,18.802725,81.497666,Facility/Infrastructure Attack,0.0,0.0,Road Construction Site,12/30/2017: Assailants set fire to seven vehic...,Communist Party of India - Maoist (CPI-Maoist),Business,Firearms
181672,2017,12,31,India,Jammu and Kashmir,South Asia,Lethapora,33.966527,74.964225,Armed Assault,8.0,3.0,Camp,12/31/2017: Assailants armed with grenades and...,Jaish-e-Mohammad (JeM),Police,Explosives
181684,2017,12,31,India,Assam,South Asia,Hungrum,25.180162,93.015788,Hostage Taking (Kidnapping),0.0,0.0,Personal Security Officer of Council Member Ih...,12/31/2017: Assailants abducted Prafulla Phuka...,Zeliangrong United Front,Government (General),Firearms
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv')
df_terrorism=df_terrorism[df_terrorism["Country"]=="India"]
df_terrorism=df_terrorism[df_terrorism["Year"]>=2014]
#df_terrorism=df_terrorism[df_terrorism['Year'==2014] & df_terrorism['Month'==5] & df_terrorism['Day'>=26]]
df_terrorism

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
125343,2014,1,1,India,Manipur,South Asia,Singjamei,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Unknown,01/01/2014: An explosive device detonated in t...,Unknown,Unknown,Explosives
125344,2014,1,1,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Unknown,01/01/2014: An explosive device detonated near...,Unknown,Unknown,Explosives
125366,2014,1,1,India,Haryana,South Asia,Dikadla,29.230103,77.070837,Assassination,1.0,0.0,Sarpanch: Neeraj Tyagi,01/01/2014: Twelve assailants attacked Neeraj ...,Unknown,Government (General),Melee
125373,2014,1,1,India,Odisha,South Asia,Supalu,18.074040,81.750951,Hostage Taking (Kidnapping),1.0,0.0,Priest: Irma Kabasi,"01/01/2014: Assailants abducted a priest, Irma...",Maoists,Religious Figures/Institutions,Melee
125374,2014,1,1,India,Chhattisgarh,South Asia,Matda,18.793435,80.817976,Hostage Taking (Kidnapping),1.0,0.0,Assistant Constable: Rup Singh Thakur,01/01/2014: Assailants abducted a police offic...,Maoists,Police,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181663,2017,12,30,India,Kerala,South Asia,Koothuparamba,11.831902,75.565432,Bombing/Explosion,0.0,0.0,Koothuparamba Police Station,12/30/2017: Assailants threw an explosive devi...,Unknown,Police,Explosives
181665,2017,12,30,India,Chhattisgarh,South Asia,Toylanka,18.802725,81.497666,Facility/Infrastructure Attack,0.0,0.0,Road Construction Site,12/30/2017: Assailants set fire to seven vehic...,Communist Party of India - Maoist (CPI-Maoist),Business,Firearms
181672,2017,12,31,India,Jammu and Kashmir,South Asia,Lethapora,33.966527,74.964225,Armed Assault,8.0,3.0,Camp,12/31/2017: Assailants armed with grenades and...,Jaish-e-Mohammad (JeM),Police,Explosives
181684,2017,12,31,India,Assam,South Asia,Hungrum,25.180162,93.015788,Hostage Taking (Kidnapping),0.0,0.0,Personal Security Officer of Council Member Ih...,12/31/2017: Assailants abducted Prafulla Phuka...,Zeliangrong United Front,Government (General),Firearms
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv')
df_terrorism=df_terrorism[df_terrorism["Country"]=="India"]
df_terrorism=df_terrorism[df_terrorism["Year"]>=2014]
index1=df_terrorism[(df_terrorism["Year"]==2014) & (df_terrorism["Month"]<5)]
#index1=df_terrorism[(df_terrorism['Year']== 2014) &(df_terrorism['Month']< 5)].index
#df_terrorism=df_terrorism[(df_terrorism['Year'==2014]) & (df_terrorism['Month'==5]) & (df_terrorism['Day'>=26])]
index1

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
125343,2014,1,1,India,Manipur,South Asia,Singjamei,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Unknown,01/01/2014: An explosive device detonated in t...,Unknown,Unknown,Explosives
125344,2014,1,1,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Unknown,01/01/2014: An explosive device detonated near...,Unknown,Unknown,Explosives
125366,2014,1,1,India,Haryana,South Asia,Dikadla,29.230103,77.070837,Assassination,1.0,0.0,Sarpanch: Neeraj Tyagi,01/01/2014: Twelve assailants attacked Neeraj ...,Unknown,Government (General),Melee
125373,2014,1,1,India,Odisha,South Asia,Supalu,18.074040,81.750951,Hostage Taking (Kidnapping),1.0,0.0,Priest: Irma Kabasi,"01/01/2014: Assailants abducted a priest, Irma...",Maoists,Religious Figures/Institutions,Melee
125374,2014,1,1,India,Chhattisgarh,South Asia,Matda,18.793435,80.817976,Hostage Taking (Kidnapping),1.0,0.0,Assistant Constable: Rup Singh Thakur,01/01/2014: Assailants abducted a police offic...,Maoists,Police,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131013,2014,4,29,India,Chandigarh,South Asia,Chandigarh,30.722776,76.797797,Armed Assault,0.0,0.0,Critical Investigative Journalist: Devinder Pal,04/29/2014: Assailants threw an incendiary dev...,Unknown,Journalists & Media,Incendiary
131028,2014,4,29,India,Bihar,South Asia,Kotma,26.174955,86.217225,Bombing/Explosion,0.0,3.0,"Civilians: Ram Khelanwan Mahto, Shanti Dev",04/29/2014: An explosive device detonated in K...,Unknown,Private Citizens & Property,Explosives
131039,2014,4,29,India,Jammu and Kashmir,South Asia,Sangrama,34.217323,74.480405,Armed Assault,0.0,4.0,Former Hizbul Mujahideen (HM) Spokesperson: Ju...,04/29/2014: Assailants opened fire on a bus ca...,Unknown,Private Citizens & Property,Firearms
131078,2014,4,30,India,Meghalaya,South Asia,Williamnagar,25.508723,90.614388,Facility/Infrastructure Attack,0.0,1.0,Gas Station,04/30/2014: Assailants opened fire on a gas st...,United Achik Liberation Army (UALA),Business,Firearms
131094,2014,4,30,India,Andhra Pradesh,South Asia,Khammam district,17.247253,80.151445,Bombing/Explosion,0.0,0.0,Polling Station,04/30/2014: Assailants detonated explosives at...,Maoists,Government (General),Explosives

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv')
df_terrorism=df_terrorism[df_terrorism["Country"]=="India"]
df_terrorism=df_terrorism[df_terrorism["Year"]>=2014]
index1=df_terrorism[(df_terrorism["Year"]==2014) & (df_terrorism["Month"]<5)]
index2=df_terrorism[(df_terrorism['Year']==2014) & (df_terrorism['Month']==5) & (df_terrorism['Day']<26)]
index2

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
131095,2014,5,1,India,Tamil Nadu,South Asia,Chennai,13.084290,80.276310,Bombing/Explosion,1.0,7.0,Train,05/01/2014: An explosive device detonated unde...,Students Islamic Movement of India (SIMI),Transportation,Explosives
131096,2014,5,1,India,Tamil Nadu,South Asia,Chennai,13.084290,80.276310,Bombing/Explosion,0.0,7.0,Train,05/01/2014: An explosive device detonated on a...,Students Islamic Movement of India (SIMI),Transportation,Explosives
131101,2014,5,1,India,Assam,South Asia,Narsingbari,26.619112,91.041857,Armed Assault,3.0,2.0,Village,05/01/2014: Assailants attacked the Narsingbar...,National Democratic Front of Bodoland (NDFB),Private Citizens & Property,Firearms
131103,2014,5,1,India,Assam,South Asia,Baska,26.660531,91.358867,Armed Assault,0.0,1.0,Civilian: Bipin Boro,05/01/2014: Assailants shot and injured a civi...,Unknown,Private Citizens & Property,Firearms
131116,2014,5,1,India,Assam,South Asia,Kokrajhar,26.384948,90.276411,Unarmed Assault,0.0,1.0,Journalist: Dhananjoy Nath,05/01/2014: Assailants attacked a journalist i...,Unknown,Journalists & Media,Melee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132206,2014,5,21,India,Manipur,South Asia,Tamenglong district,24.989750,93.501351,Armed Assault,2.0,2.0,"Soldiers: Takhellambam Gokil, Adveka Oram, Lal...",05/21/2014: Assailants opened fire on Assam Ri...,Zeliangrong United Front,Military,Firearms
132276,2014,5,22,India,Chhattisgarh,South Asia,Dantewada district,18.898482,81.352973,Bombing/Explosion,0.0,0.0,Personnel,"05/22/2014: Five explosive devices, intended t...",Maoists,Military,Explosives
132325,2014,5,23,India,Jharkhand,South Asia,Hazaribag district,24.002087,85.377730,Hostage Taking (Kidnapping),0.0,0.0,Member: Krishna Singh,05/23/2014: Assailants abducted Krishna Singh ...,Jharkhand Bachao Aandolan,Government (General),Unknown
132398,2014,5,24,India,Jharkhand,South Asia,Dadigutu,23.021522,85.187771,Armed Assault,1.0,NaN,Officer: Karan Singh,05/24/2014: Assailants opened fire on a police...,People's Liberation Front of India,Police,Firearms
132431,2014,5,25,India,Maharashtra,South Asia,Aheri,19.414199,80.007962,Armed Assault,1.0,0.0,Activist: Bapu Gonda Talandi,05/25/2014: Assailants stabbed to death Bapu G...,Communist Party of India - Maoist (CPI-Maoist),Private Citizens & Property,Melee

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv')
df_terrorism=df_terrorism[df_terrorism["Country"]=="India"]
df_terrorism=df_terrorism[df_terrorism["Year"]>=2014]
index1=df_terrorism[(df_terrorism["Year"]==2014) & (df_terrorism["Month"]<5)].index
index2=df_terrorism[(df_terrorism['Year']==2014) & (df_terrorism['Month']==5) & (df_terrorism['Day']<26)].index
print(index1,index2)

Int64Index([125343, 125344, 125366, 125373, 125374, 125453, 125484, 125600,
            125638, 125647,
            ...
            130940, 130941, 130943, 130961, 130990, 131013, 131028, 131039,
            131078, 131094],
           dtype='int64', length=338) Int64Index([131095, 131096, 131101, 131103, 131116, 131144, 131148, 131152,
            131153, 131200, 131247, 131256, 131305, 131306, 131340, 131343,
            131352, 131370, 131371, 131387, 131388, 131390, 131395, 131411,
            131443, 131444, 131445, 131446, 131447, 131449, 131451, 131452,
            131464, 131498, 131508, 131581, 131582, 131583, 131584, 131666,
            131734, 131735, 131739, 131861, 131862, 131866, 131868, 131870,
            131901, 131978, 132018, 132020, 132021, 132023, 132140, 132150,
            132206, 132276, 132325, 132398, 132431],
           dtype='int64')

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv')
df_terrorism=df_terrorism[df_terrorism["Country"]=="India"]
df_terrorism=df_terrorism[df_terrorism["Year"]>=2014]
index1=df_terrorism[(df_terrorism["Year"]==2014) & (df_terrorism["Month"]<5)].index
index2=df_terrorism[(df_terrorism['Year']==2014) & (df_terrorism['Month']==5) & (df_terrorism['Day']<26)].index
df_terrorism.drop(index1,inplace=True)
df_terrorism.drop(index2,inplace=True)
df_terrorism

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
132468,2014,5,26,India,Andhra Pradesh,South Asia,Bandlapalli,14.714739,77.810281,Bombing/Explosion,0.0,0.0,Party Supporter,05/26/2014: An explosive device was discovered...,Unknown,Private Citizens & Property,Explosives
132496,2014,5,26,India,West Bengal,South Asia,Sandeshkhali,22.356709,88.881991,Armed Assault,0.0,12.0,Party Workers,05/26/2014: Assailants opened fire on Bharatiy...,Unknown,Violent Political Party,Firearms
132502,2014,5,26,India,West Bengal,South Asia,Sandeshkhali,22.363882,88.878679,Armed Assault,0.0,11.0,Members,05/26/2014: Assailants opened fire and threw e...,Unknown,Violent Political Party,Explosives
132526,2014,5,27,India,Jammu and Kashmir,South Asia,Khour,32.601778,74.809414,Bombing/Explosion,0.0,0.0,Unknown,05/27/2014: An explosive device was discovered...,Unknown,Unknown,Explosives
132555,2014,5,27,India,Odisha,South Asia,Bikrampur,22.338542,86.178146,Assassination,1.0,0.0,Journalist: Tarun Kumar Acharya,05/27/2014: Assailants stabbed and killed Taru...,Unknown,Journalists & Media,Melee
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181663,2017,12,30,India,Kerala,South Asia,Koothuparamba,11.831902,75.565432,Bombing/Explosion,0.0,0.0,Koothuparamba Police Station,12/30/2017: Assailants threw an explosive devi...,Unknown,Police,Explosives
181665,2017,12,30,India,Chhattisgarh,South Asia,Toylanka,18.802725,81.497666,Facility/Infrastructure Attack,0.0,0.0,Road Construction Site,12/30/2017: Assailants set fire to seven vehic...,Communist Party of India - Maoist (CPI-Maoist),Business,Firearms
181672,2017,12,31,India,Jammu and Kashmir,South Asia,Lethapora,33.966527,74.964225,Armed Assault,8.0,3.0,Camp,12/31/2017: Assailants armed with grenades and...,Jaish-e-Mohammad (JeM),Police,Explosives
181684,2017,12,31,India,Assam,South Asia,Hungrum,25.180162,93.015788,Hostage Taking (Kidnapping),0.0,0.0,Personal Security Officer of Council Member Ih...,12/31/2017: Assailants abducted Prafulla Phuka...,Zeliangrong United Front,Government (General),Firearms
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv')
df_terrorism=df_terrorism[df_terrorism["Country"]=="India"]
df_terrorism=df_terrorism[df_terrorism["Year"]>=2014]
index1=df_terrorism[(df_terrorism["Year"]==2014) & (df_terrorism["Month"]<5)].index
index2=df_terrorism[(df_terrorism['Year']==2014) & (df_terrorism['Month']==5) & (df_terrorism['Day']<26)].index
df_terrorism.drop(index1,inplace=True)
df_terrorism.drop(index2,inplace=True)
attack=df_terrorism.shape
attack

(3336, 17)

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv')
df_terrorism=df_terrorism[df_terrorism["Country"]=="India"]
df_terrorism=df_terrorism[df_terrorism["Year"]>=2014]
index1=df_terrorism[(df_terrorism["Year"]==2014) & (df_terrorism["Month"]<5)].index
index2=df_terrorism[(df_terrorism['Year']==2014) & (df_terrorism['Month']==5) & (df_terrorism['Day']<26)].index
df_terrorism.drop(index1,inplace=True)
df_terrorism.drop(index2,inplace=True)
attack=df_terrorism.shape[0]
group=df_terrorism['Group'].value_counts().index[1]
print(attack,group)

3336 Maoists

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
## Open and read data file as specified in the question
## Print the required output in given format
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv',encoding='ISO-8859-1')

df_terrorism=df_terrorism[df_terrorism['Country']== 'India']
df_terrorism=df_terrorism[(df_terrorism['Year']>= 2014)]
index1=df_terrorism[(df_terrorism['Year']== 2014) &(df_terrorism['Month']< 5)].index
index2=df_terrorism[(df_terrorism['Year']== 2014) &(df_terrorism['Month']== 5) & (df_terrorism['Day']< 26)].index

#print(df_terrorism)
df_terrorism.drop(index1,inplace=True)
df_terrorism.drop(index2,inplace=True)
attack=df_terrorism.shape[0]
group=df_terrorism['Group'].value_counts().index[1]
print(attack,group)

3336 Maoists

Problem Statement :
Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?Here Frequency is (Total Casualty/Total Number of a year)
Print frequency as integer value.
Note:Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded.Don't fill the nan value present in Killed and Wounded feature.
Output Format :
Frequency1 Frequency2

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv',encoding='ISO-8859-1')
no_year=len(set(df_terrorism["Year"]))
no_year

47

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv',encoding='ISO-8859-1')
no_year=len(set(df_terrorism["Year"]))
no_year

df_terrorism["Casuality"]=df_terrorism["Killed"] + df_terrorism["Wounded"]
df_terrorism

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,Casuality
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,1.0
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,0.0
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,1.0
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,NaN
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,Armed Assault,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms,3.0
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,Bombing/Explosion,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives,9.0
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,Facility/Infrastructure Attack,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary,0.0
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,Bombing/Explosion,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives,0.0
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,Bombing/Explosion,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives,0.0

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv',encoding='ISO-8859-1')
no_year=len(set(df_terrorism["Year"]))
print(no_year)

#df_terrorosm=df_terrorism[df_terrorism["Country"]=="India"]
df_terrorism=df_terrorism[df_terrorism['Country']== 'India']
df_terrorism=df_terrorism[df_terrorism['State']== 'Jammu and Kashmir']
df_terrorism["Casuality"]=df_terrorism["Killed"] + df_terrorism["Wounded"]
casuality_jammu=np.sum(df_terrorism["Casuality"])
print(casuality_jammu)
frequency2=casuality_jammu/no_year
print(int(frequency2))

47
12268.0
261

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv',encoding='ISO-8859-1')
no_year=len(set(df_terrorism["Year"]))
print(no_year)

df_terrorism=df_terrorism[df_terrorism['Country']== 'India']
df_terrorism=df_terrorism[df_terrorism['State']== 'Jammu and Kashmir' | df_terrorism['State']== 'Jharkhand' | df_terrorism['State']== 'Odisha' | df_terrorism['State']== 'Andhra Pradesh' | df_terrorism['State']== 'Chhattisgarh']
df_terrorism["Casuality"]=df_terrorism["Killed"] + df_terrorism["Wounded"]
casuality_jammu=np.sum(df_terrorism["Casuality"])
print(casuality_jammu)
freq_jammu=casuality_jammu/no_year
print(freq_jammu)

261
115

In [ ]:
import pandas as pd
df_terrorism=pd.read_csv('terrorismData.csv',encoding='ISO-8859-1')
no_year=len(set(df_terrorism["Year"]))
print(no_year)

df_terrorism=df_terrorism[df_terrorism['Country']== 'India']
#df_terrorism=df_terrorism[(df_terrorism['State']== 'Jammu and Kashmir') | (df_terrorism['State']== 'Jharkhand') | (df_terrorism['State']== 'Odisha') | (df_terrorism['State']== 'Andhra Pradesh') | (df_terrorism['State']== 'Chhattisgarh')]
df_terrorism["Casuality"]=df_terrorism["Killed"] + df_terrorism["Wounded"]
casuality_jammu=df_terrorism[(df_terrorism['State']== 'Jammu and Kashmir')]
frequency1=np.sum(casuality_jammu["Casuality"])/no_year
casuality_Red_Corridor_states=df_terrorism[(df_terrorism['State']== 'Jharkhand') | (df_terrorism['State']== 'Odisha') | (df_terrorism['State']== 'Andhra Pradesh') | (df_terrorism['State']== 'Chhattisgarh')]
frequency2=np.sum(casuality_Red_Corridor_states["Casuality"])/no_year
print(int(frequency1),int(frequency2))

47
261 115